html {
    font-family: $font-primary;
    font-weight: $font-semibold;
    font-size: $font-base;

    @include respond("xs") {
        font-size: $font-x;
    }
}

body {
    color: $primary-black;
    font-size: $font-base;
}
