*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
    // scrollbar-color: $color-primary;
    scroll-behavior: smooth;
    scrollbar-width: 2px;
    // scrollbar-color: $color-tertiary;
}

// * {
//     scrollbar-width: 2px;
//     scrollbar-color: $color-tertiary;
// }

*::-webkit-scrollbar {
    scrollbar-width: thin;
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    // background-color: $color-tertiary;
    border-radius: 10px;
}

input {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    width: 100%;
    background: none;

    &:focus,
    &:hover {
        outline: none;
        border: none;
    }

    &::placeholder {
        font-family: inherit;
        // font-size: inherit;
        // color: inherit;
    }
}

label {
    font-size: inherit;
    color: inherit;
}

a {
    color: $primary-color;
    text-decoration: none;
    font-family: $font-secondary;
    font-weight: $font-regular;
    letter-spacing: $letter-spacing-wide;
    transition: all 0.3s;

    &:hover {
        color: $primary-color-light;
    }
}
